<div class="me-2">
  <div class="list-group">
    <button [routerLinkActive]="'activeLink'" routerLink="/admin/main/adverts/all" type="button" class="list-group-item list-group-item-action"> Tüm Kategoriler</button>
    <button  [routerLinkActive]="'activeLink'" routerLink="/admin/main/adverts/Arsa" type="button" class="list-group-item list-group-item-action">Tarla</button>
    <button  [routerLinkActive]="'activeLink'" routerLink="/admin/main/adverts/Dukkan" type="button" class="list-group-item list-group-item-action">Dükkan</button>
    <button  [routerLinkActive]="'activeLink'" routerLink="/admin/main/adverts/Villa" type="button" class="list-group-item list-group-item-action">Villa</button>
    <button  [routerLinkActive]="'activeLink'" routerLink="/admin/main/adverts/Daire" type="button" class="list-group-item list-group-item-action">Daire</button>
  </div>
</div>
